# config except GraphQL schema
config/*
!config/schema.graphql

# Babel/React
src/components/__generated__/
src/mutations/__generated__/

# dependencies
/node_modules

# testing
/coverage

# production
/build
